body{
    background-color: #857d71;
    color: #FFFFFF;
    //background-image: url('jetbrains://idea/navigate/reference?project=Cine_2024&path=resources/images/cineEpico.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

h1{
    text-align: center;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 3.5);
}